<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="/public/style.css" />
  </head>
  <body class="body-producto">
    <div class="card-container">
      <h1>Producto: <%= producto.nombre %></h1>
      <h2>Precio $<%= producto.precio %></h2>
      <h2>ID: <%= producto.id %></h2>
      <h2>Categoria: <%= producto.categoria %></h2>
      <h2>Stock: <%= producto.stock %></h2>
    </div>
  </body>
</html>
